h1 {
    font-size: 24pt;
    padding: 10px;
    text-align: center;
}

.search-control {
    text-align: center;
}

.search-input {
    max-width: 300px;
}





/* code {
    min-height: inherit;
} */